@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.mjs";

body {
  font-family: "Jost", sans-serif;
}


@font-face {
  font-family: "Ironclad";
  src: url("/fonts/ironclad-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ironclad: "Ironclad", sans-serif;
  --text-fsmall: 16px;
  --text-fmd: 20px;
  --text-fhd: 24px;
}